body {
    color: white;
    font-family: 'Muli', sans-serif;
}
.card{
    width: 100vw;
    margin: 0 !important;
    border-radius: 0;
    background: rgb(34, 34, 34);
    border: 1px rgb(44, 44, 44) solid;
}

.card-title{
    font-weight: 800;
    font-size: 25px;
}

.card-subtitle{
    font-size: 0.8rem;
    font-weight: 700;
}

.btn{
    border-radius: 0;
    padding: 0.4rem;
}