@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: #161616;
    font-size: 13px;
    color: white;
    /* word-break: break-all; */
    word-wrap: break-word;
}

.searchbox{
    margin: 0;
    width: 100%;

    /* SIZE OF SEARCHBOX */
    padding: 25px 0;
    text-align: center;
    background: #292929;
    border: 1px solid #252525;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.card{
    background: #161616;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: white;
}

a{
    color: white;
}

a:hover{
    color: white;
}

.searchbox::placeholder{
    color: #858585;
}

.jumbotron{
    background: #202020;
    margin: 0;
}

h1{
    font-size: 48px;
}