@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: #161616;
    font-size: 13px;
    color: white;
}

.searchbox{
    width: 100%;
    padding: 20px;
    background: #292929;
    border: 1px solid #252525;
    color: white;
}

.card{
    background: #161616;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: white;
}

a{
    color: white;
}

a:hover{
    color: white;
}

.searchbox::placeholder{
    color: #505050;
}