@import url('https://fonts.googleapis.com/css?family=Lato|Nunito:400,700&display=swap');

body{
    margin: 0;
    background: #212121;
    color: #fafafa;
    font-family: "Nunito";
    font-weight: 400;
}

#body{
    width: 95vw;
    margin: auto;
}

#header{
    background: #69f0ae;
    padding: 10px;
}

#header p{
    margin: 0;
    padding: 0;
    color: black;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 700;
}

h3{
    font-size: 0.9em;
    text-transform: uppercase;
    color: #757575;
}

p{
    color: #757575;
    margin: 0;
    padding: 10px 0 25px 0;
}

a{
    color: #212121;
    text-decoration: none;
}

button{
    background: #69f0ae;
    margin: 0 5px 0 0 ;
    padding: 10px 15px;
    border-radius: 999px;
    border: 0;
    font-weight: 700;
}

.repo{
    padding: 35px 0;
    border-bottom: 1px solid #333333;
}
